################################################################################
# Данный GITIGNORE-файл был автоматически создан Microsoft(R) Visual Studio.
################################################################################
/src/t691/VadimBrazevich/Task01/Tamagotchi/.vs/Tamagotchi/v15/Browse.VC.opendb
